@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px)
	.navbar-nav .nav-item .nav-link 
		padding: 17px 8px
		font-size: 16px
	
	.top-text__text 
    	padding-left: 17%

	.card__min-images 
		display: flex
		justify-content: space-around
	img.card__min-img 
		width: 33%
		height: auto
	.slick-slide 
		img
			margin: 0 1px


	

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.top-text
		text-align: right
	.telephone
		padding-left: 0
	body 
		font-size:  12px
	.telephone
		font-size: 20px
	.btn-block__btn
		font-size: 12px
		margin: 0 auto

	.info
		margin-top: 20px
	
	.navbar-nav
		.nav-item
			text-align: center
			border-right: 1px solid rgba(#fff, 0.3)
			.nav-link
				font-size: 14px

	.content-image
		display: none

	.slick-slide 
		img 
			margin: 0 auto
	


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.logo
		justify-content: center
	.catalog-nav .nav__link
		font-size: 14px
		padding: 12px 12px
		&:hover
			font-size: 14px
    		padding: 12px 12px

	.descrition 
    	padding: 30px 19px

	.detail__title 
    	margin-top: 15px

	.footer
		background: url('../img/bacground.jpg')
	.bellow
		position: static
		&__list     
			display: flex
			justify-content: space-around

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.slick-next 
    	left: -8px
	.slick-prev 
    	right: -8px

	.content-name-margin 
    	margin-top: -30px

	.content-image
		display: none
	.whow-to
		position: relative		
		margin: 0 auto		
		&__block
			display: block
		&__arrow
			transform: rotate(135deg)
			right: 9px
			bottom: 30px

	.catalog-nav .nav__link 
		font-size: 12px
		padding: 10px 11px


	.img.card__min-img 
		width: 33%
		height: auto
		padding: 1px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/



